@model List<UserMaster>
@{
    int i = 1;
}
<div class="container mt-5">

    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4>User List</h4>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark text-center">
                    <tr>
                        <th>S.No</th>
                        <th>User Name</th>
                        <th>DOB</th>
                        <th>Date Of Joining</th>
                        <th>Phone No</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Name</td>
                            <td>@item.DOB</td>
                            <td>@item.DateOfJoin</td>
                            <td>@item.PhoneNo</td>
                            <td>@item.Address</td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
